* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fjalla One', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: LightBlue;
    min-height: 100vh;
}

h1 {
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs_block {
    display: flex;
}

.label_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_option {
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin: 10px 5px 0px 5px;
}

.input_submit {
    padding: 15px;
    margin: 30px 5px 0px 5px;
}


