<!DOCTYPE html>
<html lang=“en”>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='standard.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" >
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

        <title>Twitter Scraper</title>
    </head>
    <body>
        <h1>Twitter Scrapper</h1>

        <form method="POST" class="form" action="/process_form">

            <div class="inputs_block">
                <div class="label_input">
                    <p>User to Search</p>
                    <input type="text" class="input_option" name="input_search" placeholder="What to search?">
                </div>

                <div class="label_input">
                    <p>Start Date</p>
                    <input type="date" class="input_option" name="input_date_init">
                </div>

                <div class="label_input">
                    <p>End Date</p>
                    <input type="date" class="input_option" name="input_date_end">
                </div>

                <div class="label_input">
                    <p>Max Tweets</p>
                    <input type="int" class="input_option" name="input_max_tweets">
                </div>
            </div>

            <input type="submit" class="input_option input_submit" value="Submit">
        </form>

    </body>
</html>